In [10]:
import eikon as ek  # the Eikon Python wrapper package
import numpy as np  # NumPy
import pandas as pd  # pandas
import cufflinks as cf  # Cufflinks
import configparser as cp
cf.set_config_file(offline=True)  # set the plotting mode to offline
import plotly.express as px
import datetime
import plotly.graph_objects as go
import talib as ta

In [2]:
cfg = cp.ConfigParser()
cfg.read('../refinitiv.cfg')
ek.set_app_key(cfg['eikon']['app_id'])

In [3]:
dji = ek.get_data('0#.DJI', fields=['TR.CommonName', 'TR.PriceClose',
                                      'TR.Volume', 'TR.TotalReturnYTD'])[0]

In [4]:
dji

,Instrument,Company Common Name,Price Close,Volume,YTD Total Return
0,GS.N,Goldman Sachs Group Inc,325.52,477987,-2.974446
1,NKE.N,Nike Inc,97.67,1718036,-15.750864
2,CSCO.OQ,Cisco Systems Inc,56.67,5276417,21.722387
3,JPM.N,JPMorgan Chase & Co,143.83,1822523,9.647787
4,DIS.N,Walt Disney Co,81.58,3044912,-6.100368
5,INTC.OQ,Intel Corp,38.01,12470347,46.746393
6,DOW.N,Dow Inc,53.71,1186185,10.822673
7,MRK.N,Merck & Co Inc,109.05,2107368,-0.376914
8,CVX.N,Chevron Corp,167.21,1968644,-4.190621
9,AXP.N,American Express Co,157.43,473635,7.705014
10,VZ.N,Verizon Communications Inc,33.45,5350618,-10.743886
11,HD.N,Home Depot Inc,328.71,959199,6.254721
12,WBA.OQ,Walgreens Boots Alliance Inc,21.99,3636214,-38.361802
13,MCD.N,McDonald's Corp,279.22,571101,7.701887
14,UNH.N,UnitedHealth Group Inc,480.77,624713,-8.269905
15,KO.N,Coca-Cola Co,58.33,4280871,-6.906889
16,JNJ.N,Johnson & Johnson,160.56,2421789,-7.113547
17,MSFT.OQ,Microsoft Corp,334.27,5830748,40.335453
18,HON.OQ,Honeywell International Inc,184.52,643335,-12.507162
19,CRM.N,Salesforce Inc,224.76,998578,69.515046
20,PG.N,Procter & Gamble Co,152.93,1160633,2.822721
21,IBM.N,International Business Machines Corp,147.68,1326597,8.819316
22,MMM.N,3M Co,106.24,854377,-7.502731
23,AAPL.OQ,Apple Inc,178.18,14266847,37.720918
24,WMT.N,Walmart Inc,163.77,1271510,16.831308
25,CAT.N,Caterpillar Inc,282.28,401951,19.642178
26,AMGN.OQ,Amgen Inc,259.43,977532,1.406049
27,V.N,Visa Inc,247.29,1038951,19.716515
28,TRV.N,Travelers Companies Inc,159.89,332278,-13.237944
29,BA.N,Boeing Co,211.27,972071,10.908709

In [12]:
start_date = '2020-01-01'  # Specify the start date
end_date = '2023-09-01'    # Specify the end date

df = ek.get_data('ARTQX.O',['TR.ClosePrice', 'TR.FundNAV.Date', 'TR.FundNAV'], {'SDate':'2012-01-01', 'EDate':'2019-05-26', 'Curn':'Native'})
df

(     Instrument  Close Price                  Date    NAV
 0       ARTQX.O         <NA>  2012-01-02T00:00:00Z   19.7
 1       ARTQX.O         <NA>  2012-01-03T00:00:00Z   19.9
 2       ARTQX.O         <NA>  2012-01-04T00:00:00Z  19.83
 3       ARTQX.O         <NA>  2012-01-05T00:00:00Z  19.86
 4       ARTQX.O         <NA>  2012-01-06T00:00:00Z  19.82
 ...         ...          ...                   ...    ...
 1925    ARTQX.O         <NA>  2019-05-20T00:00:00Z  19.25
 1926    ARTQX.O         <NA>  2019-05-21T00:00:00Z  19.49
 1927    ARTQX.O         <NA>  2019-05-22T00:00:00Z  19.34
 1928    ARTQX.O         <NA>  2019-05-23T00:00:00Z  19.01
 1929    ARTQX.O         <NA>  2019-05-24T00:00:00Z  19.05

 [1930 rows x 4 columns],
 None)

In [11]:
df['SMA_30'] = ta.SMA(df.NAV, timeperiod=30)

AttributeError: 'tuple' object has no attribute 'NAV'

In [13]:
type(df)

tuple